:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
    border-radius: 1px;;
  }

  .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button{
      width: 100%;
      margin-top: 5px;
  }

  .button[_ngcontent-yly-c86]{
      margin-top: 5px;
  }

  .flex-container{
      display: flex;
  }

  .img-login{
      width: 500px;
      height: 100%;
  }