.airtable-title{
    margin-top: 36px;
    margin-left: 36px;
    color: #64bd64;
    font-size: 24px;
    padding-bottom: 12px;
}

.airtable-content{
    margin-left: 36px;
}

.material-icons{
    font-size: 24px;
}

.mat-icon{
    width: 24px;
    height: 24px;
    vertical-align: bottom;

}

//


.config-table{
    border-collapse: collapse;
    width: 95%;
    table-layout: fixed;
    background-color: #f0fcf0;
    //margin: 0 36px 36px 36px;
    //padding: 0px 10px;
    color: #64bd64;
    box-shadow: 2px 3px 4px 3px #e0e0e0;
}

.config-table thead th{
    padding: 20px;
    text-align: left;
}

.config-table tbody th, td{
    border-top: 1px solid #64bd64;
    text-align: left;
    vertical-align: middle;
    padding: 10px 20px;
}

.airtable-add-new{
    padding-top: 15px;
    color: #64bd64;
}

.mat-tab-label{
    min-width: 0;
    padding: 0;
}

span.add-label{
    color: #9cee9c;
    cursor: pointer;
}

span.add-label:hover{
    color: #64bd64;  
}

tbody tr:hover{
    background-color: #cfeb34;
}